@model Store.ViewModel.CustomerViewModel

@{
    ViewBag.Title = "CustomerForm";
}
<style>
    .field-validation-error {
        color: red;
    }
</style>
<h2>Customer Form</h2>

@using (Html.BeginForm("Save", "Customers", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.first_name)
        @Html.TextBoxFor(m => m.Customer.first_name, new { @class = "form-control", maxlength = 50 })
        @Html.ValidationMessageFor(m => m.Customer.first_name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.last_name)
        @Html.TextBoxFor(m => m.Customer.last_name, new { @class = "form-control", maxlength = 50 })
        @Html.ValidationMessageFor(m => m.Customer.last_name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.birth_date)
        @Html.TextBoxFor(m => m.Customer.birth_date,string.Format("{0:MM/dd/yyyy}", Model.Customer.birth_date), new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.birth_date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.phone)
        @Html.TextBoxFor(m => m.Customer.phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.address)
        @Html.TextBoxFor(m => m.Customer.address, new { @class = "form-control", maxlength = 50 })
        @Html.ValidationMessageFor(m => m.Customer.address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.city)
        @Html.TextBoxFor(m => m.Customer.city, new { @class = "form-control", maxlength = 50 })
        @Html.ValidationMessageFor(m => m.Customer.city)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.state)
        @Html.DropDownListFor(m => m.Customer.state, Model.States, "--Please Select--", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.state)
    </div>

    @Html.HiddenFor(m => m.Customer.customer_id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}